<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      <h3>Dashboard Admin</h3>
      {% with flashes = get_flashed_messages() %}
      {% if flashes %}
      {% for flash in flashes %}
      <h4>{{ flash }}</h4>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created AT</th>
            <th>User Level</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['first_name'] }} {{ user[last_name] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['created_at'] }}</td>
            <td>{{ user['user_level'] }}</td>
            <td>
              <form action="/users/destroy" method="POST">
                {% if user['user_level'] != 9 %}
                  <input type="hidden" name="id" value="{{ user['id'] }}">
                {% endif %}
                <a href="/users/show/{{ user['id'] }}" class="btn btn-primary">Show</a>
                <a href="/users/edit/{{ user['id'] }}" class="btn btn-primary">Edit</a>
                <input type="submit" value="Remove" class="btn btn-danger">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
  </body>
</html>
