<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      <h3>Show User</h3>
      {% with flashes = get_flashed_messages() %}
      {% if flashes %}
      {% for flash in flashes %}
      <h4>{{ flash }}</h4>
      {% endfor %}
      {% endif %}
      {% endwith %}


      <ul class="list-unstyled">
        <li><h3>{{ user['first_name'] }} {{ user['last_name'] }}</h3></li>
        <li>Registered at {{ user['created_at'] }}</li>
        <li>User ID: {{ user['id'] }}</li>
        <li>Email Address: {{ user['email'] }}</li>
        <li>Description: {{ user['description'] }}</li>
        <li>
          <a href="/users/edit/{{ user['id'] }}">Edit</a>
          <a href="/">Back</a>
        </li>
        <li class="alert alert-info">
          create message
          <form action="/messages/create" method="POST">
            <input type="hidden" name="target_user_id" value="{{ user['id'] }}">
            <textarea id="message" name="message" cols="30" rows="2"></textarea>
            <input type="submit" value="Create Message" class="btn btn-primary">
          </form>
        </li>
      </ul>
      <div class="container">
        <div class="panel-primary">
          <h2>Messages</h2>
          {% for message in messages %}
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="/users/show/{{ message['message']['author_id'] }}">{{ message['message']['author_first_name'] }} {{ message['message']['author_last_name'] }} </a>
                wrote {{ message['message']['updated_at'] }}</h3>
            </div>
            <div class="panel-body">
              {{ message['message']['message']}}
            </div>
            <div class="panel-body">
              <h4>Comments</h4>
              {% for comment in message['comments']['comments']%}
                <div>
                  <a href="/users/show/{{ comment['author_id'] }} ">
                    {{ comment['first_name'] }} {{ comment['last_name'] }}
                  </a>wrote: {{ comment['updated_at'] }}
                </div>
                <div>
                  {{ comment['comment'] }}
                </div>
              {% endfor %}
              <div>
                <form action="/comments/create" method="POST">
                  <input type="hidden" name="target_user_id" value="{{ message['message']['user_id'] }}">
                  <input type="hidden" name="user_id" value="{{ session['user'] }}">
                  <input type="hidden" name="message_id" value="{{ message['message']['id'] }}">
                  <textarea id="comment" name="comment" cols="8" rows="1"></textarea>
                  <input type="submit" value="Post Comment" class="btn btn-primary">
                </form>
              </div>
            </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
