<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gold 金Ninj忍 A者</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="gold">
        Your Gold: <span class="gold">{{session['gold']}}</span>
      </div>
    </div>
    <div class="content">
      <div class="places row">
        <div class="col-md-3 place">
          <h3>Farm</h3>
          <p>(earns 10-20 golds)</p>
          <form action="/process_money" method="post">
            <input type="hidden" name="house_type" value="farm">
            <input type="submit" value="Find Gold!" id="house_type" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-3 place">
          <h3>Cave</h3>
          <p>(earns 5-10 golds)</p>
          <form action="/process_money" method="post">
            <input type="hidden" name="house_type" value="cave">
            <input type="submit" value="Find Gold!" id="house_type" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-3 place">
          <h3>House</h3>
          <p>(earns 2-5 golds)</p>
          <form action="/process_money" method="post">
            <input type="hidden" name="house_type" value="house">
            <input type="submit" value="Find Gold!" id="house_type" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-3 place">
          <h3>Casino</h3>
          <p>(earns/takes 0-50 golds)</p>
          <form action="/process_money" method="post">
            <input type="hidden" name="house_type" value="casino">
            <input type="submit" value="Find Gold!" id="house_type" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="activities">
        <h3>Activities</h3>
        <div class="messages">
          {% for message in session['messages'] %}
            <p class="{{message['say_class']}}">{{message['message']}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
