<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dojo Survey Index</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>
<body>
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="col-md-12 alert alert-danger">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="col-md-12 well text-center">
        <form action="/surveys/process" method="post">
          <div class="text">
            <label class="" for="name">Your Name:</label>
              <input class="" type="text" id="name" name="name">
          </div>
          <div class="option">
            <label class="" for="location">Dojo Location:</label>
            <select class="" id="location" name="location">
              <option value="Seattle">Seattle</option>
              <option value="Tokyo">Tokyo</option>
              <option value="Bangkok">Bangkok</option>
              <option value="Shanghai">Shanghai</option>
            </select>
          </div>
          <div class="option">
            <label class="" for="language">Dojo Location:</label>
            <select class="" name="language">
              <option value="Python">Python</option>
              <option value="Perl">Perl</option>
              <option value="Ada">Ada</option>
              <option value="Ruby">Ruby</option>
            </select>
          </div>
          <div class="textarea">
            <label for="comment" class="">Comment(optional)</label>
            <textarea class="" name="comment" ></textarea>
          </div>
          <div class="submit">
            <input type="submit" value="Button" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
