<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/4f540309a6.js"></script>
    <script src="/static/js/main.js"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Book Review</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Welcome, {{ session['user']['name'] }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/books/add">Add Book and Review</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['error']) %}
        {% if flashes %}
          <div class="alert alert-warning">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['info']) %}
        {% if flashes %}
          <div class="alert alert-info">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Recent Book Reviews</h2>
          <div>
            {% for review in reviews %}
              <ul class="list-unstyled well">
                <li>
                  <h3>
                    <u>
                      {{ review['title'] }}
                    </u>
                  </h3>
                </li>
                <li>
                  Rating:
                  {% for i in range(1, review['rating']+1)%}
                    <i class="fa fa-star" aria-hidden="true"></i>
                  {% endfor %}
                  {% for i in range(review['rating'], 5) %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  {% endfor %}
                </li>
                <li>
                  <p>
                    <a href="/users/{{ review['user_id'] }}">{{ review['user_alias'] }}</a> says:
                    {{ review['review'] }}
                  </p>
                </li>
                <li>
                  Posted on
                  {{ review['updated_at'].strftime('%b %d, %Y') }}
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-5">
          <h2>Other Books with Reviews</h2>
          <div class="well">
            {% for book in books%}
              <div>
                <h3><a href="/books/{{ book['id'] }}">{{ book['title'] }}</a></h3>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>



    <div class="container">
    </div>
  </body>
</html>
