<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/4f540309a6.js"></script>
    <script src="/static/js/main.js"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Show Book</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Welcome, {{ session['user']['name'] }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['error']) %}
        {% if flashes %}
          <div class="alert alert-warning">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['info']) %}
        {% if flashes %}
          <div class="alert alert-info">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <ul class="list-unstyled">
            <li>
              <h2>{{ book['title'] }}</h2>
            </li>
            <li>
              <h3>Author: {{ book['author_name'] }}</h3>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <h2>Reviews</h2>
            </li>
            {% for review in reviews %}
            <li>
              Rating:
              {% for i in range(1, review['rating']+1)%}
              <i class="fa fa-star" aria-hidden="true"></i>
              {% endfor %}
              {% for i in range(review['rating'], 5) %}
              <i class="fa fa-star-o" aria-hidden="true"></i>
              {% endfor %}
            </li>
            <li>
              <p><a href="/users/{{ review['user_id'] }}">{{ review['alias'] }}</a> says: {{ review['review'] }}</p>
            </li>
            <li>
              Posted on {{ review['updated_at'].strftime('%b %d, %Y') }}
            </li>
            {% if review['user_id'] == session['user']['id']%}
            <li>
              <a href="/reviews/delete/{{ review['id'] }}">Delete this Review</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="col-md-5">
          sashimi
          <form class="form" action="/books/create" method="POST">
            <h2 class="form-heading">Add a Review.</h2>
            <input type="hidden" name="author" value="{{ book['author_id'] }}">
            <input type="hidden" name="book_title" value="{{ book['title'] }}">
            <input type="hidden" name="new_author" value="">
            <label for="inputReview" class="sr-only">Review</label>
            <input type="text" id="inputReview" class="form-control" placeholder="Review" required name="review" >
            <label for="inputRating" class="sr-only">Rating</label>
            <select id="inputRating" name="rating" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Book and Review</button>
          </form>

        </div>

      </div>

    </div>


  </body>
</html>
