<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navber-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>


      </div>
      <div class="navbar-left">
        Test App
        Home
      </div>
      <div class="navbar-right">
        <!--<a href="/products/new" class="btn btn-primary">Add new product</a>-->
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h3>Welcome to the Test</h3>
        <p>We are going to build a cool application using a MVC framework!</p>
        <p>This application was built with Sashimi folks</p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Manage Users</h4>
          <p>Using this application, you'll learn how to add, remove and edit users for the application.</p>
        </div>
        <div class="col-md-4">
          <h4>Leave messages</h4>
          <p>Users will be able to leave a message to another user using this application.</p>
        </div>
        <div class="col-md-4">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
        </div>
      </div>
    </div>
  </body>
</html>
