<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="../static/lib/Materialize/dist/js/materialize.min.js"></script>
    <script src="/static/lib/underscore/underscore-min.js"></script>
    <link rel="stylesheet" href="../static/lib/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css.map">

    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Notes</title>
  </head>
  <body>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['error']) %}
       {% if flashes %}
      <div>
        {% for flash in flashes %}
        <h4 class="red-text">{{ flash }}</h4>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['info']) %}
      {% if flashes %}
      <div>
        {% for flash in flashes %}
        <h4><span class="blue-text">{{ flash }}</span></h4>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>

    <div class="container" id="new">
    </div>
    <div class="row" id="notes">
    </div>



  </body>
</html>
