{% for task in tasks%}
<div>
  <form action="/tasks/update/{{ task['id'] }}" method="POST" >
    <input type="submit" value="Edit" class="btn btn-primary btn-sm" >
    <input type="checkbox" name='finished' id="taskcheck-{{ task['id'] }}" class="finished"
                                           {% if task['finished'] %}
                                           checked
                                           {% endif %}
                                           />
    <label for="task-{{ task['id'] }}" class="col s3">
      <input type="text" name="name" value="{{ task['name'] }}" >
    </label>
  </form>
</div>
    {% endfor %}
