<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  input {
    display:block;
  }
  </style>
</head>
<body>
  <header>
    <h1> Welcome to the Wall </h1>
  </header>
  <main>
    <form action="/register" method = "post">
      <input type="text" name = "first_name" placeholder="First Name">
      <input type="text" name = "last_name" placeholder = "Last Name">
      <input type="email" name = 'email' placeholder = "email: John@doe.com">
      <input type="password" name = "password" placeholder = "password">
      <input type="password" name = "confirm_password" placeholder = "confirm password">
      <input type="submit" value = "Submit">
    </form>

    <form action="/login" method = "post">
      <input type="email" name = 'email' placeholder = "email: John@doe.com">
      <input type="password" name = "password" placeholder = "password">
      <input type="submit" value = "Submit">
    </form>
  </main>

</body>
</html>
