<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NINJA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
        {% if ninja %}
            <div class="col-md-12">
                <img class="img-responsive" src={{ url_for('static', filename='img/'+ninja+'.jpg')  }} alt="{{ ninja }}">
            </div>
            {% else %}
            <div class="col-md-6">
                <img class="img-responsive" src={{ url_for('static', filename='img/notapril.jpg')  }} alt="{{ ninja }}">
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X8HlrrZvXDM" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        </div>
    </div>
</body>
</html>
