<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/static/js/main.js"></script>

    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['error']) %}
        {% if flashes %}
          <div class="alert alert-warning">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      {% with flashes = get_flashed_messages(category_filter=['info']) %}
        {% if flashes %}
          <div class="alert alert-info">
            {% for flash in flashes %}
              <h4>{{ flash }}</h4>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="container">
      <button id="get_all_button">GET OR DIE</button>
      <div id="quotes"></div>
    </div>
  </body>
</html>
