<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login/register home</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <h1><a href="/">LOGIN / REGISTER</a></h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h4>{{ message }}</h4>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if session['user'] %}
      <h2>NOW LOG IN AS USER {{ session['user'] }}</h2>
    {% else %}
      <h2>NOT LOGGED IN</h2>
      <a href="/register_top" class="btn btn-primary">register now</a>
      <a href="/login_top" class="btn btn-primary">login</a>

    {% endif %}
  </div>
</body>
</html>
